.basics {
    background-color: rgb(61, 61, 61);
    height: 77rem;
}

.main {
    background: rgb(236, 236, 236);
    background: linear-gradient(133deg, rgba(236, 236, 236, 1) 5%, rgba(168, 168, 168, 1) 8%, rgba(197, 197, 197, 1) 11%, rgba(207, 207, 207, 1) 12%, rgba(217, 217, 217, 1) 13%, rgba(255, 255, 255, 1) 33%, rgba(232, 228, 228, 1) 38%, rgba(181, 180, 180, 1) 42%, rgba(245, 245, 245, 1) 45%, rgba(173, 173, 173, 1) 48%, rgba(247, 247, 247, 1) 56%, rgba(222, 222, 222, 1) 62%, rgba(168, 168, 168, 1) 65%, rgba(207, 207, 207, 1) 69%, rgba(230, 230, 230, 1) 72%, rgba(255, 255, 255, 1) 86%, rgba(158, 158, 158, 1) 100%);
}

.compact-container {
    height: 53rem;
    overflow-y: scroll;
}

.foto {
    border-radius: 20rem;
    width: 60%;
    margin-left: 20%;
}

.titulo {
    height: 20rem;
}

.progressBarControl {
    width: 20rem;
}

.fuenteTabla {
    font-size: 1.27rem;
}

.bigger-icons {
    font-size: 1.8rem;
}

.github-color {
    color: #962ebe;
}

.html-icon {
    color: rgb(245, 88, 26);
}

.api {
    width: 2.2rem;
}

.links {
    text-decoration: none;
    color: rgb(252, 172, 172);
}

.links:hover {
    text-decoration: none;
    color: rgb(197, 82, 82);
}

#copy-button {
    margin-left: 0.5rem;
    cursor: pointer;
}

#popup {
    position: absolute;
}

#english-stars {
    margin-left: 4%;
}