body {
    background-image: url(../img/interfaz/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.basics {
    background-color: rgb(61, 61, 61);
    height: 78.6rem;
    width: 40%;
}

.basics-child {
    padding-left: 7%;
    padding-right: 7%;
}

.basics-button {
    display: none;
    transition: 700ms;
}

.basics-button-close {
    display: none;
    transition: 700ms;
    color: azure;
}

.main {
    width: 100%;
    height: 78.6rem;
    z-index: 1;
}

.main-child {
    margin-left: 10%;
    margin-right: 10%;
}

.compact-container {
    height: 45rem;
    overflow-y: scroll;
}

.foto {
    border-radius: 20rem;
    width: 60%;
    margin-left: 20%;
}

.titulo {
    height: 20rem;
}

.nombre-main {
    font-size: 350%;
}

.nombre-info {
    display: none;
}

.progressBarControl {
    width: 20rem;
}

.fuenteTabla {
    font-size: 1.27rem;
}

.bigger-icons {
    font-size: 1.8rem;
}

.fa-suitcase {
    font-size: 1.4rem;
    color: #b3b3b3;
}

.github-color {
    color: #962ebe;
}

.html-icon {
    color: rgb(245, 88, 26);
}

.api {
    width: 2.2rem;
}

.links {
    text-decoration: none;
    color: rgb(252, 172, 172);
}

.links:hover {
    text-decoration: none;
    color: rgb(197, 82, 82);
}

#english-stars {
    margin-left: 0.82rem;
}

@media (max-width: 1478px) and (min-width: 1260px) {
    .titulo-info {
        font-size: 105%;
    }
    .textos {
        font-size: 90%;
    }
}

@media (max-width: 1260px) and (min-width: 1130px) {
    .textos {
        font-size: 81%;
    }
    .titulo-info {
        font-size: 93%;
    }
}

@media (max-width: 1130px) and (min-width: 991px) {
    .titulo-info {
        font-size: 84%;
    }
    .textos {
        font-size: 75%;
    }
    .titulos-main {
        font-size: 120%;
    }
    .subtitulos-main {
        font-size: 95%;
    }
    .textos-main {
        font-size: 85%;
    }
}

@media (max-width: 991.5px) {
    .basics {
        height: 78.6rem;
        width: 80%;
        position: absolute;
        z-index: 3;
        transition: 650ms;
    }
    .darkOverlay {
        width: 100%;
        height: 78.6rem;
        background-color: rgba(27, 27, 27, 0.884);
        transition: 650ms;
        position: absolute;
        z-index: 2;
    }
    .basics-child {
        margin-left: 5%;
        margin-right: 5%;
        position: inherit;
    }
    .basics-button {
        display: block;
        padding-left: 2.5rem;
        padding-top: 2rem;
        font-size: 2.2rem;
        border: none;
        background-color: rgba(255, 255, 240, 0);
    }
    .basics-button-close {
        display: block;
        padding-left: 2.5rem;
        padding-top: 2rem;
        font-size: 2.2rem;
        border: none;
        background-color: rgba(240, 255, 255, 0);
        color: azure;
    }
    .nombre-info {
        display: block;
        color: white;
        font-size: 260%;
    }
    .foto {
        width: 30%;
        margin-left: 35%;
    }
    #sub-titulo {
        font-weight: bold;
    }
}

@media (max-width: 821px) {
    .nombre-info {
        font-size: 190%;
    }
    .foto {
        width: 45%;
        margin-left: 28%;
    }
    .titulo-info {
        font-size: 88%;
    }
    .textos {
        font-size: 75%;
    }
    .main-child {
        margin-left: 7%;
        margin-right: 7%;
    }
    .titulos-main {
        font-size: 105%;
    }
    .subtitulos-main {
        font-size: 89%;
    }
    .textos-main {
        font-size: 80%;
    }
    .nombre-main {
        font-size: 270%;
    }
    #sub-titulo {
        font-size: 150%;
    }
    .botones-nav {
        font-size: 70%;
        font-weight: bold;
    }
    .lista-conocimientos {
        width: 95%;
    }
}

@media (max-width: 607.5px) {
    .main-child {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 576px) {
    .progressBarControl {
        width: 12rem;
    }
    .nombre-main {
        font-size: 200%;
    }
    #sub-titulo {
        font-size: 115%;
    }
}

@media (max-width: 400px) {
    .basics-child {
        margin-left: 0%;
        margin-right: 0%;
    }
    .main-child {
        margin-left: 0%;
        margin-right: 0%;
    }
}